html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Menu Bar Hamburger - Dropdown */
#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

.drop {
  position: absolute;
  top: -250px;
  left: 0;
  right: 0; 
  transition: top 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  z-index: 0;
  background: white;
}

#toggle + label:after {
  content:"Open" 
}

#toggle:checked ~ .drop {
  top: 5rem;
}

#toggle:checked + label:after {
  content:"Close"
}

/* End */