html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

div#__next {
  min-height: 100%;
}

main {
  min-height: 100%;
  padding-bottom: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Menu Bar Hamburger - Dropdown */
#toggle {
  position: absolute;
  appearance: none;
  cursor: pointer;
  left: -100%;
  top: -100%;
}

.drop {
  position: absolute;
  top: -350px;
  left: 0;
  right: 0;
  transition: top 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  z-index: 0;
  background: white;
}

#toggle + label {
  cursor: pointer;
}

#toggle:checked ~ .drop {
  top: 5rem;
  z-index: 9999;
}

/* End */

/* Contact Form Input */
.contact-input::placeholder {
  color: #9ca3af;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
}

@media only screen and (max-width: 480px) {
  .contact-input::placeholder {
    font-size: 14px;
  }
}

/* Home Text Animation */

.home-text-anim {
  animation: anim 2s linear infinite forwards;
  -webkit-animation: anim 2s linear infinite forwards;
  -moz-animation: anim 2s linear infinite forwards;
  -ms-animation: anim 2s linear infinite forwards;
  -o-animation: anim 2s linear infinite forwards;
  font-size: 20px;
}
.home-text-anim::after {
  content: "";
}
  
.home-text-anim-2::after {
  animation: changeLetter 3s linear infinite alternate;
  -webkit-animation: changeLetter 3s linear infinite alternate;
  -moz-animation: changeLetter 3s linear infinite alternate;
  -ms-animation: changeLetter 3s linear infinite alternate;
  -o-animation: changeLetter 3s linear infinite alternate;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s; 
}  

@keyframes anim {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    opacity: 1;
  }
  40% {
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
  }
  60% {
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0;
  }
  80% {
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeLetter {
  0% {
    content: "ReactJS";
  }
  50% {
    content: "NextJS";
  }
  100% {
    content: "RemixRun";
  }
}

